---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: hdfs-zk
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper-latest'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
  servers:
    config:
      logging:
        enableVectorAgent: false
    roleGroups:
      default:
        replicas: 1
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperZnode
metadata:
  name: hdfs-znode
spec:
  clusterRef:
    name: hdfs-zk
