{% if test_scenario['values']['openshift'] == 'true' %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # give minio enough time to start
  - command: sleep 5
  - command: kubectl exec -n $NAMESPACE minio-client -- sh -c 'mc alias set minio http://minio:9000 $$MINIO_SERVER_ACCESS_KEY $$MINIO_SERVER_SECRET_KEY'
  - command: kubectl exec -n $NAMESPACE minio-client -- mc mb minio/hive
  - command: kubectl exec -n $NAMESPACE minio-client -- mc admin user add minio hive hivehive
  - command: kubectl exec -n $NAMESPACE minio-client -- mc admin policy set minio readwrite user=hive
{% endif %}
