---
apiVersion: hive.stackable.tech/v1alpha1
kind: HiveCluster
metadata:
  name: test-hive-postgres
spec:
  image:
    productVersion: "{{ test_scenario['values']['hive'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hive'].split('-stackable')[1] }}"
  s3:
    reference: minio
  metastore:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
        config:
          database:
            connString: jdbc:postgresql://hive-postgresql:5432/hive
            user: hive
            password: hive
            dbType: postgres
---
apiVersion: s3.stackable.tech/v1alpha1
kind: S3Connection
metadata:
  name: minio
spec:
  host: minio
  port: 9000
  accessStyle: Path
  credentials:
    secretClass: test-hive-s3-secret-class
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
  tls:
    verification:
      server:
        caCert:
          secretClass: minio-tls-certificates
{% endif %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: test-hive-s3-secret-class
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
---
apiVersion: v1
kind: Secret
metadata:
  name: test-hive-s3-secret
  labels:
    secrets.stackable.tech/class: test-hive-s3-secret-class
stringData:
  accessKey: hive
  secretKey: hivehive
