---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - <<EOF
      ---
      apiVersion: opa.stackable.tech/v1alpha1
      kind: OpaCluster
      metadata:
        name: opa
      spec:
        image:
{% if test_scenario['values']['opa-latest'].find(",") > 0 %}
          custom: "{{ test_scenario['values']['opa-latest'].split(',')[1] }}"
          productVersion: "{{ test_scenario['values']['opa-latest'].split(',')[0] }}"
{% else %}
          productVersion: "{{ test_scenario['values']['opa-latest'] }}"
{% endif %}
          pullPolicy: IfNotPresent
        clusterConfig:
          tls:
            serverSecretClass: opa-tls-$NAMESPACE
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
          vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
        servers:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
              containers:
                opa:
                  console:
                    level: INFO
                  file:
                    level: INFO
                  loggers:
                    decision:
                      level: INFO
          roleGroups:
            default: {}
      ---
      apiVersion: secrets.stackable.tech/v1alpha1
      kind: SecretClass
      metadata:
        name: opa-tls-$NAMESPACE
      spec:
        backend:
          autoTls:
            ca:
              autoGenerate: true
              secret:
                name: opa-tls-ca-$NAMESPACE
                namespace: $NAMESPACE

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-opa-bundle
  labels:
    opa.stackable.tech/bundle: "hms"
data:
  trino.rego: |
    package hms

    default database_allow = false
    default table_allow = false
    default column_allow = false
    default partition_allow = false
    default user_allow = false

    stackable_user := "stackable"
    db_name := "test_metastore"

    database_allow if {
      input.identity.username == stackable_user
      input.resources.database.name == db_name
    }

    table_allow if {
      input.identity.username == stackable_user
      input.resources.table.dbName == db_name
      input.privileges.writeRequiredPriv[0].priv == "CREATE"
      input.resources.table.tableName in ["s3_one_column_table", "one_column_table"]
    }

    table_allow if {
      input.identity.username == stackable_user
      input.resources.table.dbName == db_name
      input.privileges.readRequiredPriv[0].priv == "SELECT"
      input.resources.table.tableName in ["s3_one_column_table", "one_column_table"]
    }

    column_allow if {
      input.identity.username == stackable_user
    }

    partition_allow if {
      input.identity.username == stackable_user
    }

    user_allow if {
      input.identity.username == stackable_user
    }
