---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hive-metastore-default
spec:
  template:
    spec:
      containers:
        - name: hive
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 512Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
      terminationGracePeriodSeconds: 300
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: hive-metastore
status:
  expectedPods: 1
  currentHealthy: 1
  disruptionsAllowed: 1
