---
apiVersion: hive.stackable.tech/v1alpha1
kind: HiveCluster
metadata:
  name: test-hive
spec:
  version: {{ test_scenario['values']['hive-latest'] }}
  metastore:
    roleGroups:
      default:
        replicas: 1
        config:
          database:
            connString: jdbc:derby:;databaseName=/tmp/hive;create=true
            user: APP
            password: mine
            dbType: derby
      remove: null
