---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hive-metastore-resources-from-role
spec:
  template:
    spec:
      containers:
        - name: hive
          resources:
            requests:
              cpu: 400m
              memory: 4Gi
            limits:
              cpu: "4"
              memory: 4Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hive-metastore-resources-from-role-group
spec:
  template:
    spec:
      containers:
        - name: hive
          resources:
            requests:
              cpu: 300m
              memory: 3Gi
            limits:
              cpu: "3"
              memory: 3Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hive-metastore-resources-from-pod-overrides
spec:
  template:
    spec:
      containers:
        - name: hive
          resources:
            requests:
              cpu: 500m
              memory: 4Gi
            limits:
              cpu: "3100m"
              memory: 4Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
