---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-log-config
data:
  hive-log4j2.properties: |
    appenders = FILE, CONSOLE

    appender.CONSOLE.type = Console
    appender.CONSOLE.name = CONSOLE
    appender.CONSOLE.target = SYSTEM_ERR
    appender.CONSOLE.layout.type = PatternLayout
    appender.CONSOLE.layout.pattern = %d{ISO8601} %5p [%t] %c{2}: %m%n
    appender.CONSOLE.filter.threshold.type = ThresholdFilter
    appender.CONSOLE.filter.threshold.level = INFO

    appender.FILE.type = RollingFile
    appender.FILE.name = FILE
    appender.FILE.fileName= /stackable/log/hive/hive.log4j2.xml
    appender.FILE.filePattern= /stackable/log/hive/hive.log4j2.xml.%i
    appender.FILE.layout.type = XMLLayout
    appender.FILE.policies.type = Policies
    appender.FILE.policies.size.type = SizeBasedTriggeringPolicy
    appender.FILE.policies.size.size = 5MB
    appender.FILE.strategy.type = DefaultRolloverStrategy
    appender.FILE.strategy.max = 1
    appender.FILE.filter.threshold.type = ThresholdFilter
    appender.FILE.filter.threshold.level = INFO

    rootLogger.level=INFO
    rootLogger.appenderRefs = CONSOLE, FILE
    rootLogger.appenderRef.CONSOLE.ref = CONSOLE
    rootLogger.appenderRef.FILE.ref = FILE
---
apiVersion: hive.stackable.tech/v1alpha1
kind: HiveCluster
metadata:
  name: test-hive
spec:
  image:
    productVersion: "{{ test_scenario['values']['hive'] }}"
  clusterConfig:
    database:
      connString: jdbc:postgresql://hive-postgresql:5432/hive
      user: hive
      password: hive
      dbType: postgres
    vectorAggregatorConfigMapName: hive-vector-aggregator-discovery
  metastore:
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hive:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hive:
                custom:
                  configMap: hive-log-config
