[Unit]
Description=Stackable Operator for Apache Hive
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/hive-operator/stackable-hive-operator
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="HIVE_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
