# tag::stackablectl-install-operators-output[]
Installing commons={{ versions.commons }} operator
Installing secret={{ versions.secret }} operator
Installing listener={{ versions.listener }} operator
Installing hive={{ versions.hive }} operator
# end::stackablectl-install-operators-output[]
