---
releases:
  hive-getting-started:
    releaseDate: 2023-03-14
    description: Demo / Test release for Hive getting started guide
    products:
      commons:
        operatorVersion: {{ versions.commons }}
      hive:
        operatorVersion: {{ versions.hive }}
      listener:
        operatorVersion: {{ versions.listener }}
      secret:
        operatorVersion: {{ versions.secret }}
